<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <title>Bhagawad Gita</title>
    <header>
        <div class="nav-div">
            <h1 class="nav-text">
                Bhagawad Gita
            </h1>
        </div>
    </header>
</head>
<body>
    <div class="second-img">
        <div class="content1">
            <h1 class="chaptername">Chapter<%= content1.chapter_number %></h1>
            <h1 class="nametag"><%= content1.translation %></h1>
            <p class="summary-eng"><%= content1.summary.en %></p>
            <p class="summary-hindi"><%= content1.summary.hi %></p>
        </div>
        <div class="content2">
            <div class="dropdown-center verses-btn">
                <button class="btn btn-secondary dropdown-toggle" style="background-color: rgb(218, 159, 10);" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="versescountshow">verses-<%= content1.verses_count %>
                </button>
                <form action="/gotoverse" method="post">
                    <ul class="dropdown-menu">
                      <%  for(let i =1 ; i<=verse_num ;i++) { %> 
                        <li class="li-item"><input type="submit" class="dropdown-item"  name="verse_number" value="<%= i %>" ></li> 
                        <% } %>
                    </ul>
                </form>
              </div>
              <div class="verse_data">
                  <h6 class="verse-number">verse-<%= content2.verse %></h6>
                  <p class="slok"><%= content2.slok %></p>
                  <hr class="hr">
                  <p class="slok-trans"><%= content2.tej.ht %></p>
                  <hr class="hr">
                  <p class="slok-trans"><%= content2.siva.et %></p>
              </div>
        </div>
    </div>
</body>
</html>